* {
    box-sizing: border-box;
  }

body {
    background: #2B3D41;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-width: 550px
}

#main-interface {
    width: 550px;
    height: 550px;
    background: #1F2937;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h1 {
    position: relative;     
    width: 354px;
    height: 80px;
    left: 52px;
    top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.025em;
    color: #ffffff
}

.highlight {
    color: #4ADF86
}

h2 {
    position: relative;
    width: 372px;
    height: 28px;
    left: 52px;
    top: 05px;
    font-family: courier;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #D5D4D8;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 17px 9px 15px;
    gap: 12px;
    position: relative;
    width: 211px;
    height: 42px;
    left: 52px;
    top: 34px;
    background: #10B981;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

.button-text {
    width: 159px;
    height: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

hr {
    position: relative;
    top: 40px;
    width: 446px;
    height: 0px;
    border: 1px solid #2F3E53;
}

#password-fields-container {
    position: relative;
    top: 49px; 
    left: 52px; 
    width: 446px;
    height: 150px; 
    display: flex; 
    justify-content: space-between; 
    flex-flow: row wrap;
}

.password-field {
    width: 211px;
    height: 39px;
    background: #273549;
    border-radius: 6px;
}

.password-text {
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #55F991;
    margin-top: 10px;
    margin-bottom: 10px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.copy-button {
        position: static; 
        background: #10B981;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
        border-radius: 6px;
        width: 211px;
        margin-top: -35px;
        color: white; 
}


fieldset {
    display: block; 
    width: 223px; 
    margin: auto; 
    margin-top: 44px;
    border: 1px solid #2F3E53;
    border-radius: 6px; 
}

legend {
    color: #10B981;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

input {
    display: block;
    margin: auto; 
    text-align: right;
    width: 50px; 
    line-height: 35px;
    border-radius: 6px; 
}

#password-length-button {
    margin-left: -11px;
    margin-top: -20px;
    height: 40px; 
    width: 120px;
    color: white; 
}